

.car-active{
	color: yellow;
}

button.signIn{
	background-color: black;
	opacity: 0.75;
	
}


button.signIn:hover{
	background-color: black;
	opacity: 1;
}

h1.signIn{
	text-align: center;
	
}

.navbar{
	background-image: url("textures/binding_dark.png");
	
}

body{
	background-image: url("textures/grey_wash_wall.png");
}

.jumbotron{
	/*background-color: white;*/
	/*background-image: url("textures/subtle_grunge.png");*/
}

#index_jtron {
	background: url("../images/background_large/1351165_26943001.jpg");
	background-size:cover;	
	color: #000;
	text-shadow: 0px 0px 15px #FFF;
}

.sidebar-nav{
	background-image: url("textures/subtle_grunge.png");
}

.btn-default{
	background-image: url("textures/subtle_grunge.png");
}

.feed{
	background-image: url("textures/subtle_grunge.png");
	margin-top: 10px;
	border-radius: 5px;
	padding-left: 3%;
	padding-right: 3%;
	/*width: 31.7%;*/
	/*margin-left: 10px;*/
}

ul.sidebar-nav li a:hover{
	background-image: url("textures/subtle_grunge.png");
	
}
input{
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	
}

label{
	display: inline-block;
	/*
	float: left;
		clear: left;*/
	
	width: 100px;
	text-align: right;
}

input{
	display: inline-block;
	/*float:left;*/
	
}

.login{
	background-image: url("textures/subtle_grunge.png");
	margin-top: 10px;
	border-radius: 5px;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 5%;
}

.signup{
	text-align: center;
}

input.signup{
	margin: 0.25em;
	width: auto;
	/*display: block;*/
	background-color: white;
}

label{
	display: inline;
}

label.25{
	width: 1em;
}

.signup{
	display: inline;
}

.profile{
	position: absolute;
	background-image: url("textures/subtle_grunge.png");
	top: 6em;
	z-index: -1;
/*	margin-top: 10px;*/
	border-radius: 5px;
/*
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 5%;*/
}

.profile_feed{
	position: relative;
	margin-left: 7em;
	margin-top: 2em;
	height: 40em;
}

.profile_pic{
	border-style: solid;
	border-width: 6px;
}

.text{
	text-align: center;
}

.garage{
	background-image: url("textures/grey_wash_wall.png");
	margin-left: 1%;
	margin-right: 2%;
	border-radius: 25px;
}
.counter8-container{
    height:55px;
    overflow:hidden;
    position:relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-image: url('images/jodometer-background.jpg');
    background-repeat: repeat-x;
    width: 160px;
}
.counter7{
    width:100%;
    height:55px;
    overflow:hidden;
    position:relative;
    background-color:transparent;
}

.counter7-container{
            height:55px;
            overflow:hidden;
            position:relative;
            border: 1px solid #ccc;
            border-radius: 2px;
            background-image: url('../images/jodometer-background.jpg');
            background-repeat: repeat-x;
            width: 288px;
        }
        
.cover{
	background-size: cover;
}
